@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Libre+Baskerville&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto, sans-serif;
}

:root {
  --background-hard: rgb(210, 174, 243);
  --background-easy: rgb(208, 201, 212);
  --textGrey: #4d4f4d;
  --orange: rgb(243, 135, 34);
}

/*===main==hero==*/

main {
  background: var(--background-hard);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
}

#hero {
  padding: 70px 0;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 70px 0;
  gap: 30px;
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  display: flex;
}

.hero-info h1 {
  font-size: 36px;
  width: 80%;
  min-width: 500px;
  font-weight: 800;
  color: var(--textGrey);
}

.hero-info p {
  font-size: 1.5rem;
  width: 70%;
  color: aliceblue;
}

.hero-info a {
  color: var(--textGrey);
  background-color: var(--orange);
  box-shadow: inset 3px 3px 8px rgb(164, 109, 41);
  width: 120px;
  height: 60px;
  padding: 8px 0px;
  border-radius: 10px;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
}

.hero-info a:hover {
  color: #808280;
  transform: scale(1.1);
  transition: all 0.2s ease;
}

.hero-card {
  width: 700px;
  background: var(--orange);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  position: relative;
}

.hero-card img {
  border-radius: 10px;
}

.user {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  top: calc(-100px / 2);
  left: calc(50% - 50px);
}

/*======nav======*/
.header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 0 50px;
  background: linear-gradient(
    0deg,
    rgb(208, 201, 212) 0%,
    rgb(210, 174, 243) 100%
  );
  box-shadow: 0 -8px 10px rgba(0, 0, 0, 0.3), 0 8px 8px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
}

.logo {
  margin: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  height: 50px;
}

.logo img:hover {
  transform: scale(1.2);
  transition: all 0.3s ease;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav i {
  font-size: 36px;
  color: white;
  display: none;
}

.nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.nav-links li:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.nav-links a {
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px 2px rgb(76, 75, 77);
  text-decoration: none;
  font-weight: 550;
  padding: 10px;
  transition: all 1s ease;
}

.nav-links a:hover {
  color: rgb(122, 93, 229);
  text-shadow: 2px 2px 2px rgb(159, 139, 233);
}

/*======cards=======*/

.container-section {
  display: flex;
  flex-direction: column;
  background: var(--background-easy);
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-top: 50px;
  color: white;
  width: 100%;
}

.container-section h2 {
  font-size: 3rem;
  color: var(--textGrey);
}

.container-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card {
  background-color: var(--orange);
  height: 30vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 1.2rem;
  padding: 15px;
  width: 30%;
  border-radius: 10px;
}

.card h3 {
  font-size: 1.5rem;
  color: var(--textGrey);
}

@media screen and (max-width: 1020px) {
  nav {
    display: flex;
    flex-wrap: wrap;

    padding: 0 20px;
  }
}
