/* font */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Libre+Baskerville&family=Roboto&display=swap");

:root {
  /* bg colors */
  --background-hard: rgb(210, 174, 243);
  --background-easy: rgb(208, 201, 212);
  --background-footer: #0a141d;
  --background-loginbox: rgba(26, 26, 26, 0.5);

  /* box Shadow */
  --box-shadow: rgba(0, 0, 0, 0.3);
  --box-shadow-submitForm: inset 0px 0px 4px 2px rgb(32, 23, 84);
  --text-shadow-grey: 2px 2px 2px rgb(76, 75, 77);
  --text-shadow-violet: 1px 2px 2px black, 0 0 25px blue, 0 0 5px;
  --hover-violet: rgb(73, 47, 219);

  /* text colors */
  --textGrey: #4d4f4d;
  --orange: rgb(243, 135, 34);
  --text-white: white;

  scroll-behavior: smooth; /*es para suavizar el scroll puede ir en el root o en html{},
  scroll-padding-top: 100px; no lo uso xq el nav esta en sticky
  scroll-padding-top: 100px; /*es el height de mi navbar*/
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto, sans-serif;
  text-decoration: none;
  list-style-type: none;
}

/*=====hero==*/

main {
  background: var(--background-hard);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-white);
  width: 100vw;
  padding: 40px 0px;
}

#hero {
  padding: 60px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 30px;
  padding: 20px 60px;
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  text-align: left;
}

.hero-info h1 {
  font-size: 36px;
  font-weight: 800;
  color: var(--textGrey);
}

.hero-info p {
  font-size: 18px;
  width: 70%;
  color: var(--text-white);
}

.hero-info a {
  color: var(--textGrey);
  background-color: var(--orange);
  box-shadow: inset 0px 0px 4px 2px rgb(185, 114, 15);
  width: 120px;
  height: 50px;
  padding: 8px 0px;
  border-radius: 10px;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.hero-info a:hover {
  color: #808280;
  transform: scale(1.1);
  transition: all 0.2s ease;
}

.hero-card {
  width: 50%;
  background: var(--orange);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.hero-card img {
  max-width: 600px;
  border-radius: 10px;
}

.user {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  top: calc(-100px / 2);
  left: calc(50% - 50px);
}

/*======nav======*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100vw;
  padding: 0 50px;
  background: linear-gradient(
    0deg,
    var(--background-easy) 0%,
    var(--background-hard) 100%
  );
  box-shadow: 0 -8px 10px var(--box-shadow), 0 8px 8px var(--box-shadow);
  position: sticky;
  top: 0;
  z-index: 2; /* Para que se vea siempre por encima */
}

.logo {
  margin: 40px;
  align-items: center;
  cursor: pointer;
  height: 50px;
}

.logo:hover {
  transform: scale(1.2);
  transition: all 0.3s ease;
}

.navbar,
.navbar-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-label img {
  font-size: 36px;
  color: var(--text-white);
  display: none;
  cursor: pointer;
}

/* MENU HAMBURGUESA */
#menu-toggle,
#cart-toggle,
.menu-label {
  display: none;
}

.navbar-list li {
  /* display: inline-block; */
  padding: 0 20px;
}

.navbar-list li:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.navbar-list a {
  font-size: 20px;
  color: var(--text-white);
  text-shadow: var(--text-shadow-grey);
  text-decoration: none;
  font-weight: 550;
  padding: 10px;
  transition: all 1s ease;
}

.navbar-list a:hover {
  color: var(--hover-violet);
  text-shadow: 2px 2px 2px rgb(159, 139, 233);
}

.cart-icon {
  font-weight: 600;
  border-radius: 10px;
  height: 35px;
  padding: 5px 10px;
  cursor: pointer;
}

/* CARRITO */
.cart {
  position: absolute;
  top: 100px;
  right: 0;
  padding: 30px;
  display: flex;
  flex-direction: column;
  display: none;
  z-index: 2;
}

.cart::-webkit-scrollbar {
  display: none;
}

.cart h2 {
  color: var(--text-white);
  text-shadow: var(--text-shadow-grey);
  font-size: 20px;
  font-weight: 600;
}

.cart-item img {
  width: 200px;
}

#cart-toggle:checked + .cart {
  display: flex;
}

/*======cards=======*/

.container-section {
  display: flex;
  flex-direction: column;
  background: var(--background-easy);
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding-top: 50px;
  padding-bottom: 100px;
  color: var(--text-white);
  width: 100vw;
}

.container-section h2 {
  font-size: 3rem;
  font-weight: 800;
  color: var(--textGrey);
  text-align: center;
}

.container-cards {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  background-color: var(--orange);
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 1.2rem;
  padding: 20px;
  border-radius: 10px;
}

.card h3 {
  font-size: 1.3rem;
  color: var(--textGrey);
}

.card p {
  font-size: 16px;
}

/*=====reservas======*/
.reservas {
  background: linear-gradient(
    0deg,
    var(--background-hard) 0%,
    var(--background-easy) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 80px 30px;
}

.reservas-titulos {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  font: 1.5em sans-serif;
  text-shadow: var(--text-shadow-violet);
  color: var(--text-white);
  gap: 50px;
}

.loginbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-loginbox);
  max-width: 350px;
  padding: 60px 40px 10px 40px;
  border-radius: 15px;
  margin-top: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  border-radius: 5px;
  border: none;
}

.loginbox h2 {
  color: var(--text-white);
}

.text {
  font-size: 16px;
  font-weight: 300;
  color: var(--text-white);
}

.user {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: calc(-100px / 2);
  left: calc(50% - 50px);
}

.loginbox input[type="submit"] {
  border: none;
  outline: none;
  height: 30px;
  width: 100px;
  font-size: 20px;
  color: var(--text-white);
  background-color: var(--text-shadow-violet);
  box-shadow: inset 0px 0px 4px 3px rgb(108, 72, 241);
  cursor: pointer;
  border-radius: 80px;
}

.loginbox input[type="submit"]:hover {
  background: rgb(152, 130, 233);
  color: var(--hover-violet);
  box-shadow: var(--box-shadow-submitForm);
  transition: all 0.5s ease-in-out;
}

/*=====footer=====*/

.pie-pagina {
  width: 100vw;
  background-color: var(--background-footer);
}

.container-box {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding: 45px 20px;
}

.sec-map {
  width: 510px;
  height: 330px;
  background-color: var(--text-white);
  border-radius: 10px;
  box-shadow: 0 0 20px 6px rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-map iframe {
  width: 500px;
  height: 300px;
}

.box-card {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box-card h2 {
  text-align: center;
  color: var(--text-white);
  text-shadow: var(--text-shadow-grey);
  margin-bottom: 25px;
  font-size: 20px;
}

.red-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.red-social a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: var(--text-white);
  background-color: #0d2033;
  border-radius: 5px;
}

.red-social a:hover {
  background: rgb(152, 130, 233);
  color: rgb(73, 47, 219);
  box-shadow: inset 0px 0px 4px 2px rgb(47, 27, 157);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.container-box2 {
  max-width: 95%;
  background-color: var(--background-footer);
  padding: 15px 10px;
  text-align: right;
  opacity: 0.6;
  color: var(--text-white);
}

.container-box2 small {
  font-size: 15px;
}
